body {
	background-color: white;
	font-size: 24px;
	color: black;
	text-align: center;
}
button {
	font-size: larger;
	color: white;
	padding: 1%;
	background-color: gray;
}
#question {
	font-weight: bold;
	font-size: xx-large;
	color: black;
}
#results {
	font-size: larger;
	color: rgb(197, 90, 90);
}
