navbar {
	background-color: aquamarine;
}
body {
	font-size: 20px;
	color: black;
}
.questions {
	font-weight: bold;
	font-size: large;
	color: black;
}
.answers {
	font-weight: lighter;
}
#submit {
	font-size: 24px;
}
/* add hover css for user to see option highlighted before choosing */
